/* :root{ */
    /* --color-bg-primary: #005c69; */
    /* --color-bg-secondary:#009AAE; */
    /* --color-headings:#003F47; */
    /* --color-text:0.hsl(187, 21%, 84%); */

body{
    background-color: tan;
    border-color:rgb(233, 236, 236);

}

/*body{
    background-image:url();
    background-color: #ACE6DB;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    justify-content: left;
}*/
cb-logo.jpeg{
    flex-direction: wrap;
    
}
img{
    
}
button{
    color: #003F47;
    width: 20;
    height: 10;
}
em{
    text-wrap: var(--color-bg-secondary);
}
h1{
    text-align:center;
    
}
p{
    text-align: center;
}

/* body{
    background-image: url("Cb-logo.jpg");
    height: 20;
    width: 35;
 }*/
 /*logo 940px*/

 
 display-flex{
    flex-wrap: wrap;
 }

 
 div{
    border-color: #009AAE;
    border-bottom: 1px;
    scroll-padding-left: var(--color-bg-secondary);
 }
