:root{
    --color-bg-primary: #005c69;
    --color-bg-secondary:#009AAE;
    --color-headings:#003F47;
    --color-text:0.hsl(187, 21%, 84%);
}

body{
    background-image:url();
    background-color: #ACE6DB;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    justify-content: left;
}
#cb-logo.jpeg{
    flex-direction: left;
}
}

/* body{
    background-image: url("Cb-logo.jpg");
    height: 20;
    width: 35;
 }*/
 /*logo 940px*/
 img{
    height: 15px ;
    width: 30px;
 }

 img{
    float: left;
 }
 div{
    border-color: #009AAE;
    border-bottom: 1px;
    scroll-padding-left: var(--color-bg-secondary);
 }
